* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
}


.container {
  margin-left: 0;
  flex-direction: column;
}

.col-sm-3, .col-sm {
  margin: 20px;
  height: 500px;
  overflow: auto;
}

.col-sm-2 {
  background-color: #DFE3E8;
  overflow-y: scroll;
}

.content {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

p {
  margin-bottom: 0;
  font-size: 14px;
}

.col2 {
  background-color: #DFE3E8 ;
  border-radius: 5px;
}

.card-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) blur(1px);
    height: 200px;
    border: 0px;
}

.count-published, .count-drafts {
   background-color: #e75367;
   width: 30px;
   margin: 5px;
   margin-left: -5px;
   border-radius: 100%;
   text-align: center;
}

.listJournal {
  background-color: #DFE3E8;
  height: 150px;
}

.btn-success{
  width: 10%;
  margin: 10px;
  position: absolute;
  right: 0;
}

.note-popover {
  margin-top: 70px;
}
